/**
 *
 * SNAKEBITE.CSS by SNAKE VENOM
 * This is my personal CSS reset/framework. I use it for all of my css + html projects.
 * All of my code is CC0 PUBLIC DOMAIN. Copy, redistribute, edit, etc. whatever you want.
 * Last updated: 6 August 2021
 *
*/

@import url("https://cdn.jsdelivr.net/gh/pilssken/assets/fonts.css");

html {
font-family:BlinkMacSystemFont,-apple-system,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue','Helvetica','Arial',sans-serif;
text-size-adjust:100%;
line-height:1.5; }

body { margin:0; padding:0; }

main { margin:0 auto; padding:0; width:500px; }

h1, h2, h3, h4, h5, h6 { font-weight:normal; margin:0.5em 0; line-height:1.1; }
h1 { font-size:2.25em; }
h2 { font-size:2em; }
h3 { font-size:1.75em; }
h4 { font-size:1.5em; }
h5 { font-size:1.25em; }
h6 { font-size:1em; }

img, video { margin:0; padding:0; max-width:100%; vertical-align:middle; border-style:none; }

hr { margin:1.25em 0; height:1px; background-color:grey; border:0; overflow:visible; }

b, strong { font-weight:bolder; }

a { color:inherit; background-color:transparent; }

small { font-size:80%; }

code, pre { font-family: monospace; font-size:1em; }

sub, sup { position:relative; font-size:75%; line-height:0; vertical-align:baseline; }
sub { bottom:-0.25em; }
sup { top:-0.5em; }

::-moz-focus-inner { border-style:none; padding:0; }
:-moz-ui-invalid { box-shadow:none; }

.hidden, [hidden] { display:none!important; }
